.clearBoth { clear:both; }/*reinicia la grafica para que pueda ser considerado despues dejando de lado el float */
#separador {
    margin-left:7px;
    width:95%;
	border:1px solid gray;	
}
#cabeceraProyecto
{
    margin-top:50px;
	width:auto;
	height:90px;
}
   
#textoProyecto
{
     display: table;
     margin: 30px auto;
     font-family: 'Noto Serif', serif;
     font-size:30px;
}

#descripcionCortaProyecto 
{
	height:60px;
    width: 600px;
    display: table;
    margin: auto;
}

#descripcionCortaTexto 
{
     display: table;
     margin: 1px auto;
     font-family: 'Old Standard TT', serif;  
     font-size: 15px;
}


#inicio
{
    width:100px;
	height:25px;
    border:1px solid green;	
    float:left;
}

#observaciones
{
    /*background: url(../../imagenes/icons/glyphicons_039_notes.png) no-repeat 0 0;*/
    width:100px;
	height:25px;
    float:left;
    border: 1px solid green;
}

#observacione:hover
{
    background: url(../../imagenes/icons/glyphicons_039_notes_h.png) no-repeat 0 0;
}

#body
{
	width:1100px;
	height:1800px;
	background-color:#FAFFFF;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
#proyectContent
{
    margin-top:10px;
	width:auto;
	height:1650px;
}

#mediaProyecto
{
	width:550px;
	height:435px;
    margin-top:20px;
    margin-left:50px;
    float:left;	
    border: 9px solid rgb(245, 211, 211);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
#video_clip 
{
    width:100%;
	height:100%;
}
#creadorProyecto
{
    margin-top:20px;
    width:410px;
	height:450px;
	margin-left:20px;
	background-color:#E6E6FF;
	float:left;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

#creador 
{
    width:400px;
	height:200px;
}

#fotoCreador 
{
    margin-top:30px;
    margin-left:10px;
    width:120px;
	height:120px;
	border:1px solid green;	
    float:left;
}

#descripcionCreador 
{
    width:260px;
	height:120px;
    margin-top:30px;
	border:1px solid green;	
    float:left;
}
#contenidoCreador
{
    margin-left:10px;
    margin-top:20px;
}


#otrosProyectos
{
    width:400px;
	height:166px;
	margin-left:3px;
    margin-top:5px;
	border:1px solid green;	
}


#redesSociales
{
    margin-top:10px;
	width:600px;
	height:50px;
    background-color:#FAFFFF;
	margin-left:50px;
	float:left;
}

#fb 
{
    width:50px;
	height:40px;
    margin-left:5px;
    float:left;
}
#fbImg 
{
    width:auto;
	height:100%;
    float:left;
}

#tw
{
    width:50px;
	height:40px;
    margin-left:5px;
    float:left;
}
#twImg 
{
    width:auto;
	height:100%;
}

#url
{
    width:480px;
	height:40px;
    margin-left:5px;
    float:left;
}
#urlImg 
{
    width:auto;
	height:100%;
    float:left;
}

#txtVRL 
{
     margin-top:10px;
     margin-left:10px;
     float:left;
}



#contenedorDescripcionProyecto
{
    margin-top:20px;
	width:600px;
	height:800px;
	margin-left:50px;
	float:left;
    font-family: 'Domine', serif;   
}

#contenedorDescripcionProyecto #titulo {
    font-size:20px; 
}
#contenedorDescripcionProyecto #cuerpo {
    font-size:12px; 
}

#descripcionProyecto
{
	width:600px;
	height:800px;
}


#tituloColaboradores
{
	width:400px;
	height:50px;
	margin-top:3px;
	margin-left:20px;
	float:left;
    font-family: 'Domine', serif;   
    font-size:24px;
}
#tituloColaboradores #tituloCol 
{
       margin-top:15px;
}

#colaboradoresProyecto
{
	width:400px;
	height:838px;
	margin-top:10px;
	margin-left:20px;
	float:left;
}


/*   Colaborador 1    */
#colaborador1
{
    margin-top:10px;
	width:auto;
	height:300px;
    background-color:lightgray;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

#colaborador1 #contenidoColaborador1
{
     width:auto;
     height:83%;
     margin-left:  5px;
     font-family: 'Domine', serif;   
}

#colaborador1 #contenidoColaborador1 #tituloColaborador1
{
     font-size:16px;
}

#colaborador1 #contenidoColaborador1 #porcentajeColaborador1
{
     font-size:13px;
}

#colaborador1 #contenidoColaborador #descripcionCargo1
{
     margin-top:10px;
     font-size:13px;
}

#colaborador1  #accionColaborador1
{
    width:100%;
    height:50px;    
}
#colaborador1  #accionPostular1
{
    width:100%;
    height:100%;
}
/*   fin Colaborador 1    */

/*   Colaborador 2    */
#colaborador2
{
    margin-top:10px;
	width:auto;
	height:300px;
    background-color:lightgray;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

#colaborador2 #contenidoColaborador2
{
     width:auto;
     height:83%;
     margin-left:  5px;
     font-family: 'Domine', serif;   
}

#colaborador2 #contenidoColaborador2 #tituloColaborador2
{
     font-size:16px;
}

#colaborador2 #contenidoColaborador2 #porcentajeColaborador2
{
     font-size:13px;
}

#colaborador2 #contenidoColaborador #descripcionCargo2
{
     margin-top:10px;
     font-size:13px;
}

#colaborador2  #accionColaborado2
{
    width:100%;
    height:50px;    
}
#colaborador2  #accionPostular2
{
    width:100%;
    height:100%;
}
/*   fin Colaborador 2    */

/*   Colaborador 3    */
#colaborador3
{
    margin-top:10px;
	width:auto;
	height:300px;
    background-color:lightgray;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

#colaborador3 #contenidoColaborador3
{
     width:auto;
     height:83%;
     margin-left:  5px;
     font-family: 'Domine', serif;   
}

#colaborador3 #contenidoColaborador3 #tituloColaborador3
{
     font-size:16px;
}

#colaborador3 #contenidoColaborador3 #porcentajeColaborador3
{
     font-size:13px;
}

#colaborador3 #contenidoColaborador #descripcionCargo3
{
     margin-top:10px;
     font-size:13px;
}

#colaborador3  #accionColaborador3
{
    width:100%;
    height:50px;    
}
#colaborador3  #accionPostular3
{
    width:100%;
    height:100%;
}
/*   fin Colaborador 3   */

/*   Colaborador 4    */
#colaborador4
{
    margin-top:10px;
	width:auto;
	height:300px;
    background-color:lightgray;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;	
}

#colaborador4 #contenidoColaborador4
{
     width:auto;
     height:83%;
     margin-left:  5px;
     font-family: 'Domine', serif;   
}

#colaborador4 #contenidoColaborador4 #tituloColaborador4
{
     font-size:16px;
}

#colaborador4 #contenidoColaborador4 #porcentajeColaborador4
{
     font-size:13px;
}

#colaborador4 #contenidoColaborador #descripcionCargo4
{
     margin-top:10px;
     font-size:13px;
}

#colaborador4  #accionColaborador4
{
    width:100%;
    height:50px;    
}
#colaborador4  #accionPostular4
{
    width:100%;
    height:100%;
}
/*   fin Colaborador 4    */

/**
#colaborador4
{
	width:auto;
	height:200px;
	border-top:1px solid gray;	
    background-color:lightgray;
}
#colaborador4:hover 
{
    opacity: 0.6;
    background-color:grey;
}
    **/


#consultasProyecto
{
	width:400px;
	height:200px;
	margin-top:10px;
	margin-left:20px;
	border:1px solid green;	
	float:left;
}