.clearBoth { clear:both; }/*reinicia la grafica para que pueda ser considerado despues dejando de lado el float */

#cabeceraProyecto
{
    margin-top:50px;
	width:auto;
	height:90px;
}
   
#textoProyecto
{
     display: table;
     margin: 30px auto;
     font-family: 'Noto Serif', serif;
     font-size:30px;
}

#descripcionCortaProyecto 
{
	height:60px;
    width: 600px;
    display: table;
    margin: auto;
}

#descripcionCortaTexto 
{
     display: table;
     margin: 1px auto;
     font-family: 'Old Standard TT', serif;  
     font-size: 15px;
}


#inicio
{
    width:100px;
	height:25px;
    border:1px solid green;	
    float:left;
}

#observaciones
{
    /*background: url(../../imagenes/icons/glyphicons_039_notes.png) no-repeat 0 0;*/
    width:100px;
	height:25px;
    float:left;
    border: 1px solid green;
}

#observacione:hover
{
    background: url(../../imagenes/icons/glyphicons_039_notes_h.png) no-repeat 0 0;
}

#body
{
	width:1100px;
	height:1450px;
	background-color:white;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
#proyectContent
{
    margin-top:10px;
	width:auto;
	height:1650px;
}

#mediaProyecto
{
    margin-top:20px;
	width:600px;
	height:450px;
    margin-left:50px;
    float:left;	
}
#video_clip 
{
    width:100%;
	height:100%;
}
#creadorProyecto
{
    margin-top:20px;
    width:410px;
	height:450px;
	margin-left:20px;
	background-color:#FDE0E0;
	float:left;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

#creador 
{
    width:400px;
	height:200px;
}

#fotoCreador 
{
    margin-top:30px;
    margin-left:10px;
    width:120px;
	height:120px;
	border:1px solid green;	
    float:left;
}

#descripcionCreador 
{
    width:260px;
	height:120px;
    margin-top:30px;
	border:1px solid green;	
    float:left;
}


#otrosProyectos
{
    width:400px;
	height:166px;
	margin-left:3px;
    margin-top:5px;
	border:1px solid green;	
}


#redesSociales
{
    margin-top:30px;
	width:600px;
	height:50px;
    background-color:#FFFFCC;
	margin-left:50px;
	float:left;
}

#fb 
{
    width:50px;
	height:40px;
    margin-left:5px;
    float:left;
}
#fbImg 
{
    width:auto;
	height:100%;
    float:left;
}

#tw
{
    width:50px;
	height:40px;
    margin-left:5px;
    float:left;
}
#twImg 
{
    width:auto;
	height:100%;
}

#url
{
    width:300px;
	height:40px;
    margin-left:5px;
    float:left;
}
#urlImg 
{
    width:auto;
	height:100%;
    float:left;
}

#urlTxt 
{
     margin-left:10px;
     float:left;
}



#contenedorDescripcionProyecto
{
    margin-top:20px;
	width:600px;
	height:800px;
	margin-left:50px;
	float:left;
}


#descripcionProyecto
{
	width:600px;
	height:800px;
}


#tituloColaboradores
{
	width:400px;
	height:50px;
	margin-top:3px;
	margin-left:20px;
	float:left;
    font-family: 'Merriweather', serif;
    font-size:24px;
}

#colaboradoresProyecto
{
	width:400px;
	height:838px;
	margin-top:10px;
	margin-left:20px;
	float:left;
}


#colaborador1
{
    margin-top:10px;
	width:auto;
	height:200px;
    background-color:lightgray;	
}

#colaborador1:hover 
{
    opacity: 0.6;
    background-color:grey;
}
#colaborador2
{
	width:auto;
	height:200px;
	border-top:1px solid gray;
    background-color:lightgray;
}
#colaborador2:hover 
{
    opacity: 0.6;
    background-color:grey;
}

#colaborador3
{
	width:auto;
	height:200px;
	border-top:1px solid gray;	
    background-color:lightgray;
}
#colaborador3:hover 
{
    opacity: 0.6;
    background-color:grey;
}

#colaborador4
{
	width:auto;
	height:200px;
	border-top:1px solid gray;	
    background-color:lightgray;
}
#colaborador4:hover 
{
    opacity: 0.6;
    background-color:grey;
}


#consultasProyecto
{
	width:400px;
	height:200px;
	margin-top:10px;
	margin-left:20px;
	border:1px solid green;	
	float:left;
}