<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="InnovaConnectionString" connectionString="Data Source=(local);Initial Catalog=Innova;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="Innova.ServiciosLoginAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="Innova.SERVICIOS.ServicioLoginAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="Innova.ServiciosLogin">
                <endpoint address="" behaviorConfiguration="Innova.ServiciosLoginAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="Innova.ServiciosLogin" />
            </service>
            <service name="Innova.SERVICIOS.ServicioLogin">
                <endpoint address="" behaviorConfiguration="Innova.SERVICIOS.ServicioLoginAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="Innova.SERVICIOS.ServicioLogin" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
